build --cxxopt="-Wall" --cxxopt="-Werror" --cxxopt="-Wextra" --cxxopt="-Wpedantic" --cxxopt="-Wno-error=missing-field-initializers" --cxxopt="-Wno-error=deprecated-copy-with-user-provided-copy"
build:github_gcc --crosstool_top=//toolchain:github_gcc
build:github_gcc --cpu=k8
build:github_gcc --host_crosstool_top=@bazel_tools//tools/cpp:toolchain
